/NetBeansProjects/Ejercicio_3_POO/nbproject/private/
/NetBeansProjects/Ejercicio_3_POO/build/
/NetBeansProjects/Ejercicio_3_POO/dist/
/NetBeansProjects/christoph_cedric_EXPractTrim1/Supuesto_2_refactorizacion/nbproject/private/
/NetBeansProjects/christoph_cedric_EXPractTrim1/Supuesto_1/build/
/NetBeansProjects/christoph_cedric_EXPractTrim1/Supuesto_1/nbproject/private/
/NetBeansProjects/christoph_cedric_EXPractTrim1/Supuesto_2/build/
/NetBeansProjects/christoph_cedric_EXPractTrim1/Supuesto_2/nbproject/private/